@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(59,89,152);
}

.navBtn{
    float: right;
    list-style: none;
    padding: 5px;
    font-family: PT Sans Narrow, sans-serif;
    color: white;
    clear: both;
    margin: 10px;
}


#loginForm{
    margin-top: 5%;
    text-align: center;
}

h1{
    text-align: center;
    color: rgb(255,255,255);
    font-family: PT Sans Narrow, sans-serif;
}

input{
    width: 400px;
    height: 40px;
    margin-bottom: 5px;
    border: none;
    padding: 5px;
    text-align: center;
}

button{
    /*width: 200px;*/
    /*height: 40px;*/
    border: none;
    padding: 10px;
    color: #fff;
    background-color:transparent;
    font-weight: bold;
    border-radius:5%;
}
button:hover{
    cursor: pointer;
}
