@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: inline;
}

body{
    background-color: rgb(59,89,152);
}

.navBtn{
    margin: 5px;
    float: right;
    list-style: none;
    padding: 5px;
    font-family: PT Sans Narrow, sans-serif;
    color: white;
}